// app/layout.styl

@import '../_variables'
@import '../_mixins'
@import 'footer'


// your styles here:
body
  background: white

.list-item-text
  font-size: $fontSM
  padding: $base

.no-padding
  padding: 0px

.hidden
  display: none
