label.array-input-field
  div
    label amount
    input.form-control(data-hook="input-amount")
  div
    label item
    input.form-control(data-hook="input-item")
  div.message.message-below.message-error(data-hook="message-container")
    p(data-hook="message-text")
  a(data-hook="remove-field") remove